{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport"/>
    <title>HastaneApp</title>
    <link href="{% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon" type="image/x-icon"/>
    <link href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/css/Normal/style.css' %}" rel="stylesheet"/>
</head>
<body>
    <div class="main-wrapper">
        <header class="header">
            {% include 'doctor-navbar.html' %}
        </header>
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'hospital_home' %}">Home</a></li>
                                <li aria-current="page" class="breadcrumb-item active">View Report</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">View Report</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                        <div class="card widget-profile pat-widget-profile">
                            <div class="card-body">
                                <div class="pro-widget-content">
                                    <div class="profile-info-widget">
                                        <a class="booking-doc-img" href="#">
                                            <img alt="User Image" src="{{ report.patient.featured_image.url }}"/>
                                        </a>
                                        <div class="profile-det-info">
                                            <h3><a href="#">{{report.patient.name}}</a></h3>
                                            <div class="patient-details">
                                                <h5><b>ID :</b> {{report.patient.patient_id}}</h5>
                                                <h5 class="mb-0">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    {{ report.patient.address }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="patient-info">
                                    <ul>
                                        <li>Phone <span>{{report.patient.phone_number}}</span></li>
                                        <li>Age <span>{{report.patient.age}}</span></li>
                                        <li>Blood Group <span>{{report.patient.blood_group}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8 col-xl-9">
                        <div class="invoice-content">
                            <div class="invoice-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="invoice-logo">
                                            <img alt="logo" src="{% static 'HealthStack-System/images/Normal/logo1.png' %}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="invoice-details">
                                            <strong>Report ID:</strong> {{report.report_id}} <br/>
                                            <strong>Patient ID:</strong> {{report.patient.patient_id }} <br/>
                                            <strong>Date:</strong> {{report.delivery_date}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="invoice-info">
                                            <strong class="customer-text">Doctor Information:</strong>
                                            <p class="invoice-details invoice-details-two">
                                                <b>Name: </b>{{report.doctor.name}} <br/>
                                                <b>Department: </b>{{report.doctor.department_name}}<br/>
                                                <b>Email: </b>{{report.doctor.email}} <br/>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="invoice-info invoice-info2">
                                            <strong class="customer-text">Patient Information</strong>
                                            <p class="invoice-details">
                                                <b>Name: </b>{{report.patient.name}} <br/>
                                                <b>Address: </b>{{report.patient.address}}<br/>
                                                <b>Email: </b>{{report.patient.email}} <br/>
                                                <b>Phone Number: </b>{{report.patient.phone_number}}<br/>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-item invoice-table-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="invoice-table table table-bordered text-center">
                                                <thead>
                                                    <tr style="background-color: rgb(84, 147, 199);">
                                                        <th style="border: 2px solid;">Specimen Information</th>
                                                        <th style="border: 2px solid;">Specimen ID</th>
                                                        <th style="border: 2px solid;">Collection Date/Time</th>
                                                        <th style="border: 2px solid;">Receiving Date/Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for s in specimen %}
                                                    <tr>
                                                        <td style="border: 2px solid;">{{s.specimen_type}}</td>
                                                        <td style="border: 2px solid;">{{s.specimen_id}}</td>
                                                        <td style="border: 2px solid;">{{s.collection_date}}</td>
                                                        <td style="border: 2px solid;">{{s.receiving_date}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="invoice-item invoice-table-wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="invoice-table table table-bordered text-center">
                                                <thead>
                                                    <tr style="background-color: rgb(84, 147, 199);">
                                                        <th style="border: 2px solid;">Test Name</th>
                                                        <th style="border: 2px solid;">Result</th>
                                                        <th style="border: 2px solid;">Unit</th>
                                                        <th style="border: 2px solid;">Referred value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for t in test %}
                                                    <tr>
                                                        <td style="border: 2px solid;">{{t.test_name}}</td>
                                                        <td style="border: 2px solid;">{{t.result}}</td>
                                                        <td style="border: 2px solid;">{{t.unit}}</td>
                                                        <td style="border: 2px solid;">{{t.referred_value}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="other-info">
                                <h4><b>Other Information</b></h4>
                                <p>{{report.other_information}}</p>
                                {% comment %}
                                <button class="btn btn-sm bg-primary-light">
                                    <a href="{% url 'pdf' pk=report.report_id %}" target="_blank"> Download Report </a>
                                </button>
                                {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>

    <div class="modal fade custom-modal" id="add_medical_records">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Medical Records</h3>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Date</label>
                            <input class="form-control datetimepicker" type="text" value="31-10-2019"/>
                        </div>
                        <div class="form-group">
                            <label>Description (Optional)</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Upload File</label>
                            <input class="form-control" type="file"/>
                        </div>
                        <div class="submit-section text-center">
                            <button class="btn btn-primary submit-btn" type="submit">
                                Submit
                            </button>
                            <button class="btn btn-secondary submit-btn" data-dismiss="modal" type="button">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/admin/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/prescription-settings.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/admin/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/admin/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>
</body>
</html>