{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport"/>
    <title>HastaneApp</title>
    <link href="{% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon" type="image/x-icon"/>
    <link href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/css/Normal/bootstrap-datetimepicker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/select2/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fancybox/jquery.fancybox.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/css/Normal/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/css/Normal/search2.css' %}" rel="stylesheet"/>
</head>
<body>
<div class="main-wrapper">
    <header class="header">
        {% if user.is_authenticated and user.is_patient %}
        {% include 'patient_navbar.html' %}
        {% elif user.is_authenticated and user.is_doctor %}
        {% include 'doctor-navbar.html' %}
        {% else %}
        {% include 'navbar_home.html' %}
        {% endif %}
    </header>

    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6 col-6">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            {% if user.is_authenticated and user.is_patient %}
                            <li class="breadcrumb-item"><a href="{% url 'patient-dashboard' %}">Home</a></li>
                            {% elif user.is_authenticated and user.is_doctor %}
                            <li class="breadcrumb-item"><a href="{% url 'doctor-dashboard' %}">Home</a></li>
                            {% else %}
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            {% endif %}
                            <li aria-current="page" class="breadcrumb-item active">Hospital</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">Doctor List</h2>
                </div>
                <div class="col-md-6 col-6 text-right">
                    <div class="top-nav-search">
                        <form action="{% url 'hospital-doctor-list' pk=pk_id %}" method="GET">
                            <input class="form-control" name="search_query" placeholder="Search doctor" type="text" value="{{search_query}}"/>
                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                    <div>
                        {% if user.is_authenticated and user.is_patient %}
                        {% include 'patient-sidebar.html' %}
                        {% elif user.is_authenticated and user.is_doctor %}
                        {% include 'doctor-sidebar.html' %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-12 col-lg-8 col-xl-9">
                    {% for doctor in doctors %}
                    <div class="card">
                        <div class="card-body">
                            <div class="doctor-widget">
                                <div class="doc-info-left">
                                    <div class="doctor-img">
                                        <a href="{% url 'doctor-profile' pk=doctor.doctor_id %}">
                                            <img alt="User Image" class="img-fluid" src="{{ doctor.featured_image.url }}"/>
                                        </a>
                                    </div>
                                    <div class="doc-info-cont">
                                        <h4 class="doc-name">
                                            <a href="{% url 'doctor-profile' pk=doctor.doctor_id %}">Dr. {{doctor.name}}</a>
                                        </h4>
                                        <p class="doc-speciality">{{ doctor.department_name.hospital_department_name }}</p>
                                        <h5 class="doc-department">
                                            <img alt="Speciality" class="img-fluid" src="{% static 'HealthStack-System/images/Normal/specialities/specialities-05.png' %}"/>
                                            {{ doctor.specialization.specialization_name }}
                                        </h5>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(17)</span>
                                        </div>
                                        <div class="clinic-details">
                                            <p class="doc-location">
                                                <i class="fas fa-map-marker-alt"></i>
                                                {{doctor.hospital_name}}
                                            </p>
                                            <ul class="clinic-gallery">
                                                <li>
                                                    <a data-fancybox="gallery" href="{% static 'HealthStack-System/images/Normal/features/feature-01.jpg' %}">
                                                        <img alt="Feature" src="{% static 'HealthStack-System/images/Normal/features/feature-01.jpg' %}"/>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a data-fancybox="gallery" href="{% static 'HealthStack-System/images/Normal/features/feature-02.jpg' %}">
                                                        <img alt="Feature" src="{% static 'HealthStack-System/images/Normal/features/feature-02.jpg' %}"/>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clinic-services">
                                            <span>Dental Fillings</span>
                                            <span>Whitening</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="doc-info-right">
                                    <div class="clini-infos">
                                        <ul>
                                            <li><i class="far fa-thumbs-up"></i>98%</li>
                                            <li><i class="far fa-comment"></i>17 Feedback</li>
                                            <li><i class="fas fa-map-marker-alt"></i>Mumbai City</li>
                                            <li><i class="far fa-money-bill-alt"></i>{{doctor.consultation_fee}} ₹</li>
                                        </ul>
                                    </div>
                                    <div class="clinic-booking">
                                        <a class="view-pro-btn" href="{% url 'doctor-profile' pk=doctor.doctor_id %}">View Profile</a>

                                        {% if user.is_authenticated and user.is_patient %}
                                        <a class="apt-btn" href="{% url 'booking' pk=doctor.doctor_id %}">Book Appointment</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="load-more text-center"></div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</div>

<script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>
<script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
<script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>
<script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
<script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
<script src="{% static 'HealthStack-System/plugins/Normal/select2/js/select2.min.js' %}"></script>
<script src="{% static 'HealthStack-System/js/Normal/moment.min.js' %}"></script>
<script src="{% static 'HealthStack-System/js/Normal/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'HealthStack-System/plugins/Normal/fancybox/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>
</body>
</html>