{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport"/>
    <title>HastaneApp</title>
    <link href="{% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon" type="image/x-icon"/>
    <link href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/css/Normal/style.css' %}" rel="stylesheet"/>
    <style>
        .feature-item {
            text-align: center;
        }
        .feature-item img {
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="main-wrapper">
    <header class="header">
        {% include 'navbar_home.html' %}
    </header>

    <section class="section section-search" style="background-color: rgb(172, 209, 242); padding-bottom: 0px; min-height: 0px; padding-left: 0px; padding-right: 0px;">
        <div style="background-color: rgb(172, 209, 242)">
            <div class="banner-wrapper" style="background-color: rgb(172, 209, 242); padding-bottom: 20px; padding-top: 12px;">
                <div class="banner-header text-center" style="margin-top: -52px;">
                    <h1>Welcome To HastaneApp</h1>
                    <p>Elevate your well-being by choosing the excellence of our healthcare services.</p>
                </div>
            </div>
            <div class="home-image">
                <img class="img-fluid" src="{% static 'HealthStack-System/images/Normal/p2.png' %}" style="width: 100%"/>
            </div>
        </div>
    </section>

    <section class="section section-specialities" style="padding-top: 80px">
        <div class="container-fluid">
            <div class="section-header text-center">
                <h2>Discover Our Clinics and Specialties</h2>
                <p class="sub-title"></p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="specialities-slider slider">
                        <div class="speicality-item text-center">
                            <div class="speicality-img">
                                <img alt="Speciality" class="img-fluid" src="{% static 'HealthStack-System/images/Normal/specialities/specialities-01.png' %}"/>
                                <span><i aria-hidden="true" class="fa fa-circle"></i></span>
                            </div>
                            <p>Urology</p>
                        </div>
                        <div class="speicality-item text-center">
                            <div class="speicality-img">
                                <img alt="Speciality" class="img-fluid" src="{% static 'HealthStack-System/images/Normal/specialities/specialities-02.png' %}"/>
                                <span><i aria-hidden="true" class="fa fa-circle"></i></span>
                            </div>
                            <p>Neurology</p>
                        </div>
                        <div class="speicality-item text-center">
                            <div class="speicality-img">
                                <img alt="Speciality" class="img-fluid" src="{% static 'HealthStack-System/images/Normal/specialities/specialities-03.png' %}"/>
                                <span><i aria-hidden="true" class="fa fa-circle"></i></span>
                            </div>
                            <p>Orthopedic</p>
                        </div>
                        <div class="speicality-item text-center">
                            <div class="speicality-img">
                                <img alt="Speciality" class="img-fluid" src="{% static 'HealthStack-System/images/Normal/specialities/specialities-04.png' %}"/>
                                <span><i aria-hidden="true" class="fa fa-circle"></i></span>
                            </div>
                            <p>Cardiologist</p>
                        </div>
                        <div class="speicality-item text-center">
                            <div class="speicality-img">
                                <img alt="Speciality" class="img-fluid" src="{% static 'HealthStack-System/images/Normal/specialities/specialities-05.png' %}"/>
                                <span><i aria-hidden="true" class="fa fa-circle"></i></span>
                            </div>
                            <p>Dentist</p>
                        </div>
                    </div>
                </div>
            </div>
</div>
    </section>

    <section class="section section-doctor">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-header">
                        <h2>Book an Appointment with Our Exceptional Doctors</h2>
                        <p>Choose from the Best</p>
                    </div>
                    <div class="about-content">
                        <p>Seamlessly book appointments with highly qualified doctors across various hospitals.</p>
                        <p>HastaneApp is not just a platform; it's a transformative force in the healthcare landscape.</p>
                        <a href="about-us/">Read More..</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="doctor-slider slider">
                        {% for doctor in doctors %}
                        <div class="profile-widget">
                            <div class="doc-img">
                                <img alt="User Image" class="img-fluid" src="{{ doctor.featured_image.url }}"/>
                                <a class="fav-btn" href="javascript:void(0)"><i class="far fa-bookmark"></i></a>
                            </div>
                            <div class="pro-content">
                                <h3 class="title">
                                    <a href="{% url 'doctor-profile' pk=doctor.doctor_id %}">Dr. {{doctor.name}}</a>
                                    <i class="fas fa-check-circle verified"></i>
                                </h3>
                                <p class="speciality">{{ doctor.department_name.hospital_department_name }}</p>
                                <ul class="available-info">
                                    <li><i class="fas fa-map-marker-alt"></i>{{doctor.hospital_name}}</li>
                                    <li><i class="far fa-clock"></i> {{ doctor.visiting_hour }}</li>
                                    <li>
                                        <i class="far fa-money-bill-alt"></i> Consultation fee: {{ doctor.consultation_fee }} ₹
                                        <i class="fas fa-info-circle" data-toggle="tooltip" title=""></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-features">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 features-img">
                    <img alt="Feature" class="img-fluid" src="{% static 'HealthStack-System/images/Normal/pppp.jpg' %}" style="height: 490px;"/>
                </div>
                <div class="col-md-7">
                    <div class="section-header">
                        <h2 class="mt-2">Explore Our Network of Esteemed Hospitals</h2>
                        <p>Immerse yourself in a world of healthcare excellence.</p>
                    </div>
                    <div class="features-slider slider">
                        {% for hospital in hospitals %}
                        <div class="feature-item">
                            <img alt="Feature" class="img-fluid" src="{{ hospital.featured_image.url }}"/>
                            <br/>
                            <a href="{% url 'multiple-hospital' %}">{{ hospital.name }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html' %}
</div>

<script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>
<script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
<script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>
<link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet"/>
<link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}" rel="stylesheet"/>
<script src="{% static 'HealthStack-System/Outside_assets/js/slick.js' %}"></script>
<script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>
</body>
</html>