{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>HastaneApp</title>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport"/>
    <link href="{% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon" type="image/x-icon"/>
    <link href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/css/Normal/style.css' %}" rel="stylesheet"/>
</head>
<body class="account-page">
<div class="main-wrapper">
    <header class="header">
        {% include 'navbar_home.html' %}
    </header>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="account-content">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-7 col-lg-6 login-left">
                                <img alt="HealthStack Login" class="img-fluid" src="{% static 'HealthStack-System/images/Normal/login-banner.png' %}"/>
                            </div>
                            <div class="col-md-12 col-lg-6 login-right">
                                <div class="login-header">
                                    <h3>Login <span>Patient</span><a href="{% url 'doctor-login' %}" style="text-decoration: none;">Are you a Doctor?</a></h3>
                                </div>
                                <form action="{% url 'login' %}" method="POST">
                                    {% csrf_token %}
                                    {% include 'message.html' %}

                                    <div class="form-floating mt-3 mb-3">
                                        <input class="form-control" id="floatingInput" name="username" placeholder="User Name" type="text" required/>
                                        <label for="floatingInput">User Name</label>
                                    </div>
                                    <div class="form-floating mt-3 mb-3">
                                        <input class="form-control" id="myInput" name="password" placeholder="Password" type="password" required/>
                                        <label for="myInput">Password</label>
                                        <input class="mt-2" onclick="myFunction11()" type="checkbox"/>Show Password
                                    </div>
                                    <div class="text-right">
                                        <a class="forgot-link" href="{% url 'reset-password' %}" style="text-decoration: none;">Forgot Password ?</a>
                                    </div>
                                    <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Login</button>
                                    <div class="text-center dont-have">
                                        Don't have an account? <a href="{% url 'patient-register' %}" style="text-decoration: none;">Register</a><br/>
                                        <b>Want to login as<a href="{% url 'admin-login' %}" style="color: #09e5ab;text-decoration: none;"> Admin</a>?</b>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</div>

<script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>
<script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
<script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>
<script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>

{% if messages %}
<script>
    $(document).ready(function () {
        $('.toast').toast('show');
    });
</script>
{% endif %}

<script>
    function myFunction11() {
        var x = document.getElementById('myInput');
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
</body>
</html>