{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport"/>
    <title>HastaneApp</title>
    <link href="{% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon" type="image/x-icon"/>
    <link href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/css/Normal/style.css' %}" rel="stylesheet"/>
</head>
<body>
<div class="main-wrapper">
    <header class="header">
        {% include 'doctor-navbar.html' %}
    </header>
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'doctor-dashboard' %}">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Profile</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">Patient Profile</h2>
                    {% include 'message.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar dct-dashbd-lft">
                    <div class="card widget-profile pat-widget-profile">
                        <div class="card-body">
                            <div class="pro-widget-content">
                                <div class="profile-info-widget">
                                    <a class="booking-doc-img" href="#">
                                        <img alt="User Image" src="{{ patient.featured_image.url }}"/>
                                    </a>
                                    <div class="profile-det-info">
                                        <h3><a href="#">{{patient.name}}</a></h3>
                                        <div class="patient-details">
                                            <h5><b>ID :</b> {{ patient.patient_id }}</h5>
                                            <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i>{{ patient.address }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="patient-info">
                                <ul>
                                    <li>Phone <span>{{patient.phone_number}}</span></li>
                                    <li>Age <span>{{patient.age}}</span></li>
                                    <li>Blood Group <span>{{patient.blood_group}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-lg-8 col-xl-9 dct-appoinment">
                    <div class="card">
                        <div class="card-body pt-0">
                            <div class="user-tabs">
                                <ul class="nav nav-tabs nav-tabs-bottom nav-justified flex-wrap">
                                    <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#pres"><span>Prescription</span></a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#medical_records"><span> Medical Records</span></a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="pres">
                                    <div class="text-right">
                                        <a class="add-new-btn" href="{% url 'create-prescription' pk=patient.patient_id %}">Add Prescription</a>
                                    </div>
                                    <div class="card card-table mb-0">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table text-center table-hover table-center mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Prescription ID</th>
                                                            <th>Patient</th>
                                                            <th>Contact</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for p in prescription %}
                                                        <tr>
                                                            <td>{{p.create_date}}</td>
                                                            <td>{{p.prescription_id}}</td>
                                                            <td>
                                                                <h2 class="table-avatar">
                                                                    <a class="avatar avatar-sm mr-2" href="#">
                                                                        <img alt="User Image" class="avatar-img rounded-circle" src="{{p.patient.featured_image.url}}"/>
                                                                    </a>
                                                                    <a href="#">{{p.patient.name}} </a>
                                                                </h2>
                                                            </td>
                                                            <td>
                                                                {{p.patient.email}}
                                                                <span class="d-block text-info">Phone: {{p.patient.phone_number}}</span>
                                                            </td>
                                                            <td class="">
                                                                <div class="table-action">
                                                                    <a class="btn btn-sm bg-info-light" href="{% url 'doctor-view-prescription' pk=p.prescription_id %}">
                                                                        <i class="far fa-eye"></i> View
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="medical_records">
                                    <div class="text-right"></div>
                                    <div class="card card-table mb-0">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-center text-center mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Report Delivery Date</th>
                                                            <th>Report ID</th>
                                                            <th>Patient</th>
                                                            <th>Contact</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for report in report %}
                                                        <tr>
                                                            <td>{{report.delivery_date}}</td>
                                                            <td>{{report.report_id}}</td>
                                                            <td>
                                                                <h2 class="table-avatar">
                                                                    <a class="avatar avatar-sm mr-2" href="#">
                                                                        <img alt="User Image" class="avatar-img rounded-circle" src="{{patient.featured_image.url}}"/>
                                                                    </a>
                                                                    <a href="#">{{patient.name}} </a>
                                                                </h2>
                                                            </td>
                                                            <td>
                                                                {{patient.email}}
                                                                <span class="d-block text-info">Phone: {{patient.phone_number}}</span>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="table-action">
                                                                    <a class="btn btn-sm bg-info-light" href="{% url 'doctor-view-report' pk=report.report_id %}">
                                                                        <i class="far fa-eye"></i> View
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</div>

<div class="modal fade custom-modal" id="add_medical_records">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Medical Records</h3>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Date</label>
                        <input class="form-control datetimepicker" type="text" value="31-10-2019"/>
                    </div>
                    <div class="form-group">
                        <label>Description (Optional)</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Upload File</label>
                        <input class="form-control" type="file"/>
                    </div>
                    <div class="submit-section text-center">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                        <button class="btn btn-secondary submit-btn" data-dismiss="modal" type="button">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>
<script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
<script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>
<script src="{% static 'HealthStack-System/js/Normal/moment.min.js' %}"></script>
<script src="{% static 'HealthStack-System/js/Normal/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
<script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
<script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>

{% if messages %}
<script>
    $(document).ready(function () {
        $('.toast').toast('show');
    });
</script>
{% endif %}
</body>
</html>