{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport"/>
    <title>HastaneApp</title>
    <link href="{% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon" type="image/x-icon"/>
    <link href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/css/Normal/style.css' %}" rel="stylesheet"/>
</head>
<body class="account-page">
    <div class="main-wrapper">
        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a href="javascript:void(0);" id="mobile_btn"><span class="bar-icon"></span></a>
                    <a class="navbar-brand logo" href="{% url 'hospital_home'%}">
                        <img alt="Logo" class="img-fluid" src="{% static 'HealthStack-System/images/Normal/logo1.png' %}"/>
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a class="menu-logo" href="{% url 'hospital_home'%}">
                            <img alt="Logo" class="img-fluid" src="{% static 'HealthStack-System/images/Normal/logo1.png' %}"/>
                        </a>
                        <a class="menu-close" href="javascript:void(0);" id="menu_close">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li><a href="{% url 'hospital_home'%}">Home</a></li>
                        <li><a href="{% url 'about-us'%}">About Us</a></li>
                        <li class="login-link"><a href="{% url 'login' %}">Login / Signup</a></li>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <li class="nav-item contact-item">
                        <div class="header-contact-img">
                            <i class="far fa-hospital"></i>
                        </div>
                        <div class="header-contact-detail">
                            <p class="contact-header">Contact</p>
                            <p class="contact-info-header">+91 12345-67890</p>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-login" href="{% url 'login' %}">login / Signup</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="account-content">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-7 col-lg-6 login-left">
                                    <img alt="Login Banner" class="img-fluid" src="{% static 'HealthStack-System/images/Normal/login-banner.png' %}"/>
                                </div>
                                <div class="col-md-12 col-lg-6 login-right">
                                    <main class="formPage my-xl">
                                        <div class="content-box">
                                            <div class="formWrapper">
                                                <h3>Password reset complete</h3>
                                                <p>Your password has been set. You may go ahead and log in now.</p>
                                                <br/>
                                            </div>
                                        </div>
                                    </main>
                                    <div class="text-right">
                                        <a class="forgot-link" href="{% url 'login' %}">Go back to login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>
</body>
</html>