{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport"/>
    <title>HastaneApp</title>
    <link href="{% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon" type="image/x-icon"/>
    <link href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/css/Normal/bootstrap-datetimepicker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/select2/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/plugins/Normal/fancybox/jquery.fancybox.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/css/Normal/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'HealthStack-System/css/Normal/search3.css' %}" rel="stylesheet"/>
</head>
<body>
    <div class="main-wrapper">
        <header class="header">
            {% include 'patient_navbar.html' %}
        </header>
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6 col-6">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'hospital:patient-dashboard' %}">Home</a></li>
                                <li aria-current="page" class="breadcrumb-item active">Search Doctor</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Search Doctor</h2>
                    </div>
                    <div class="col-md-6 col-6">
                        <div class="top-nav-search">
                            <form action="{% url 'hospital:search' %}" method="GET">
                                <input class="form-control" name="search_query" placeholder="Search doctor" type="text" value="{{search_query}}"/>
                                <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                        <div>{% include 'patient-sidebar.html' %}</div>
                    </div>
                    <div class="col-md-12 col-lg-8 col-xl-9">
                        {% for doctor in doctors %}
                        <div class="card">
                            <div class="card-body">
                                <div class="doctor-widget">
                                    <div class="doc-info-left">
                                        <div class="doctor-img">
                                            <a href="{% url 'doctor-profile' pk=doctor.doctor_id %}">
                                                <img alt="User Image" class="img-fluid" src="{{ doctor.featured_image.url }}"/>
                                            </a>
                                        </div>
                                        <div class="doc-info-cont">
                                            <h4 class="doc-name">
                                                <a href="{% url 'doctor-profile' pk=doctor.doctor_id %}">Dr. {{doctor.name}}</a>
                                            </h4>
                                            <p class="doc-speciality">
                                                <b>Department: </b>{{ doctor.department_name.hospital_department_name }}
                                            </p>
                                            <p class="doc-department" style="color: #757575 !important;">
                                                <b>Specialization: </b>{{ doctor.specialization.specialization_name }}
                                            </p>
                                            <div class="clinic-details">
                                                <p class="doc-location">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    <b> Hospital: </b>{{doctor.hospital_name}}
                                                </p>
                                                <ul class="clinic-gallery">
                                                    <li>
                                                        <a data-fancybox="gallery" href="{% static 'HealthStack-System/images/Normal/features/feature-01.jpg' %}">
                                                            <img alt="Feature" src="{% static 'HealthStack-System/images/Normal/features/feature-01.jpg' %}"/>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a data-fancybox="gallery" href="{% static 'HealthStack-System/images/Normal/features/feature-02.jpg' %}">
                                                            <img alt="Feature" src="{% static 'HealthStack-System/images/Normal/features/feature-02.jpg' %}"/>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="doc-info-right">
                                        <div class="clini-infos">
                                            <ul>
                                                <li>
                                                    <i class="far fa-money-bill-alt"></i>
                                                    <b class="doc-location">Consultation fee: </b>{{doctor.consultation_fee}} ₹
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clinic-booking">
                                            <a class="view-pro-btn" href="{% url 'doctor-profile' pk=doctor.doctor_id %}">View Profile</a>
                                            <a class="apt-btn" href="{% url 'booking' pk=doctor.doctor_id %}">Book Appointment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>

    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/Normal/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/moment.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/Normal/fancybox/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>
</body>
</html>