<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1></h1>
    <table>
        <tr>
            <td>Transaction ID</td>
            <td>Validation ID</td>
            <td>Status</td>
            <td>Transaction Date</td>
            <td>Currency</td>
            <td>Currency Type</td>
            <td>Currency Amount</td>
        </tr>
        <tr>
            <td>{{payment_data.tran_id}}</td>
            <td>{{payment_data.val_id}}</td>
            <td>{{payment_data.status}}</td>
            <td>{{payment_data.tran_date}}</td>
            <td>{{payment_data.currency}}</td>
            <td>{{payment_data.currency_type}}</td>
            <td>{{payment_data.currency_amount}}</td>
        </tr>
    </table>
    <br/>
    <hr/>
    {{ response }}
</body>
</html>